################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/AED3-TP1/v15
/.vs
/AED3-TP1/.vs/AED3-TP1/v15
